ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
}

ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
        }
      }
    }
  }
  
ion-toolbar {
  &.ion-color-primary {
    --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
  }
}