
<ion-content>

        <ion-slides pager="true" dir="ltr" options="slideOpts">
          <ion-slide class="bg-profile">
            <div class="ion-padding w100">
              <img src="assets/img/ionbooking-ico.png" alt="ionBooking" class="slide-image animated fadeInDown slow">
              <h2 class="ion-margin-bottom slide-title text-white">Welcome to iKOE</h2>

              <hr>

              <ion-button expand="full" shape="round" color="secondary" class="ion-margin-top" (click)="openLoginPage()">
                Sign In / Sign Up
              </ion-button>
              <ion-button expand="full" shape="round" color="dark" class="ion-margin-top" (click)="openHomePage()">
                <!-- routerLink="/home" -->
                Get Started
              </ion-button>
            </div>

          </ion-slide>
        </ion-slides>

</ion-content>